.burger {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(2px);
  transition: 0.5s;
  z-index: 2;

  &.active {
    left: 0;
  }

  .container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transform: scale(0.7);
      }
    }

    .link {
      font-weight: 600;
      font-size: 18px;
      color: #333;
      transition: 0.5s;

      &:hover {
        color: #07f;
      }

      &.active {
        color: #07f;
      }
    }

    .btn {
      border-radius: 50px;
      padding: 17px 33px;
      background-color: #07f;
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      transition: 0.5s;

      &:hover {
        color: #333;
      }
    }
  }
}
