@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+Antique&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family);
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Work Sans", sans-serif;
  --second-family: "Zen Kaku Gothic Antique", sans-serif;
  --third-family: "Roboto", sans-serif;
}

img,
video,
picture,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
